gfsb:
    {% set head = "gfs.t" + cycle_HH + "z." %}
    name: "GFSB"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/gfsb.tar"
    required:
        {% if MODE == "cycled" %}
        # GRIB2 (subsampled) analysis data
        {% endif %}

        # GRIB2 orecast data
        {% for fhr in range(FHMIN_GFS, FHMAX_GFS + FHOUT_GFS, FHOUT_GFS) %}
        {% endfor %}
